
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
    }
    body {
      background: linear-gradient(to right, #7cb0f8, #bde3ff);
      min-height: 100vh;
      padding: 20px;
    }
    header {
      background: #ffffff;
      padding: 10px 20px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: rgb(0, 109, 234);
      margin-bottom: 20px;
      gap: 10px;
    }
    header img {
      height: 35px;
    }
    header h1 {
      font-size: 1.4rem;
    }
    .container {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      background: #ffffff;
      border-radius: 30px;
      padding: 20px;
      width: 240px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
      flex: 1 1 240px;
    }
    .slider-wrapper {
      position: relative;
      width: 100%;
      height: 160px;
      overflow: hidden;
      border-radius: 20px;
      border: 2px solid orange;
    }
    .slide {
      width: 100%;
      background-image: url('https://i.pinimg.com/736x/bf/68/49/bf6849c25bb9596cd540db56f3b1b6f4.jpg');
      color: white;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 10px;
      text-align: center;
      height: 180px;
      position: relative;
      overflow: hidden;
    }

    .slide::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0a2332c4;
      z-index: 1;
     
    }



    .slide.active {
      display: flex;
    }
    .slide h1 {
      font-size: 1.1rem;
      margin-bottom: 8px;
      z-index: 2;
    }
    .slide p {
      font-size: 0.75rem;
      line-height: 1.2;
      z-index: 2;
    }
    .slider-buttons {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 10px;
    }
    .slider-buttons button {
      padding: 5px 12px;
      background-color:  #00b3ff;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      width: 100px;
      height: 40px;
    }
    .slider-buttons button:hover {
      background-color:white;
      color: #00b3ff;
      transition: all 0.3 ease;
      transform: scale(1.04);
      box-shadow: 0 0 15px rgba(13, 29, 43, 0.6);
    }
    .card.main h2 {
      margin-bottom: 10px;
    }

    .viewMap {
      background-image: url('https://www.shutterstock.com/shutterstock/photos/127728257/display_1500/stock-photo-street-map-with-gps-icons-navigation-127728257.jpg');
      border-radius: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 20px;
      width: 240px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
      flex: 1 1 240px;
    }

   .shuttleDetails{
     background: #bb2727;
      border-radius: 30px;
      padding: 20px;
      width: 240px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
      flex: 1 1 240px;

   }







    @media (max-width: 768px) {
      header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
      .container {
        flex-direction: column;
        align-items: center;
      }
      .card {
        width: 100%;
        max-width: 340px;
      }
    }
 