body {
    font-family:segoe UI;



}
/* my css starts from this side and this is just for the header -- just create a comment like this and start your css for the footer
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    background: linear-gradient(to bottom, rgb(0, 174, 255), rgb(34, 47, 66));
    color: white;
    border-radius: 8px;

}

.logo {
    height: 70px;
    border-radius: 70px;
}

nav a {
    
    color: white;
    text-decoration: none;
    margin-left: 40px;
    font-size: 25px;
    font-weight: 700;
    padding: 8px 4px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
    
}


nav a:hover {
    background-color: rgb(11, 78, 133);
    
}